.redhat {
  width: 100px;
  height: 100px;
}

.avatar {
  display: none;
  width: 100px;
  height: 100px;
  border-radius: 40%;
}

/* Even out the padding so that the hats aren't flush against the
** top of the screen. */
.container-fluid {
    padding-top: 20px;
}

.container-fluid.overlay {
  /*background-color: black;*/
}

.container-fluid.overlay:after {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: black;
  opacity: 0.85;
}
