.redhat {
  width: 100px;
  height: 100px;
}

.avatar {
  display: none;
  width: 100px;
  height: 100px;
  border-radius: 40%;
}

.hatwrap {

}

/*.tweet-text {
  position: relative;
  top: 25px;
  top: 25px;
}*/

/* Even out the padding so that the hats aren't flush against the
** top of the screen. */
.container-fluid {
    padding-top: 20px;
}
