.redhat {
  width: 100px;
  height: 100px;
}

.avatar {
  display: none;
  width: 100px;
  height: 100px;
  border-radius: 40%;
}

/* Even out the padding so that the hats aren't flush against the
** top of the screen. */
.container-fluid {
    padding-top: 20px;
}

.container-fluid {
  background-color: white;
  /*opacity: 0.6;*/
}

#overlay {
  content: url('../img/speech-bubble.svg');
  width: 80%;
  height: 80%;
  position: absolute;
  top: 50px;
  left: 50px;
  z-index: 100;
  opacity: 1.0;
  display: none;
  /*background-color: white;*/
  /*opacity: 0.85;*/
}

#bubble-text {
  /*background-color: white;*/
  padding: 30px;
  font-size: 24px;
  position: absolute;
  top: 285px;
  left: 100px;
  /*width: 100px;
  height: 100px;*/
  z-index: 150;
  display: none;
}
